azure-storage-blob==12.30.0
azure-identity==1.25.3
keybert==0.9.0
nltk==3.9.4
numpy==2.5.2
psutil==7.2.2
python-dotenv==1.2.3
rake_nltk==1.0.6
Requests==2.34.2
scikit_learn==1.9.0
sentence_transformers==5.6.0
